@import "tailwindcss";
@plugin "daisyui";
.about {
    text-align: center;
    padding: 50px;
}
html {
    scroll-behavior: smooth;
}

img {
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}